@import url("nproress.css");
body {
  padding-top: 66.01px;
  background-color: #161620;
}
.site-navbar .navbar-header .navbar-brand {
  color: #fff;
  margin: 0 22px;
}

.navbar-toolbar-right .form-inline {
  padding-right: 30px;
}

#navSearch {
  width: 450px;
  border-radius: 0;
  color: #f0f0f5;
  background-color: #1f1f2d;
  border: .5px solid #3f3f5a;
}

.navbutton {
  border-radius: 0;
  color: #d2d2e0;
  background-color: #3f3f5a;
  border: .5px solid #3f3f5a;
}

.site-footer {
  background-color: #20202E;
  height: 44px;
  padding: 10px 30px;
  border-top: 1px solid #20202E;
}

#left-table {
  border-left: 3px solid;
}

.page {
  background: #161620;
}

.bg-white {
  background-color: #2a2a3d !important;
  color: #d3d3e0;
}

.site-navbar.navbar-inverse .navbar-container {
  background-color: #20202f;
  height: 66px;
}

.site-menu > li > a:hover, .site-menu > li > a:focus {
  background-color: #3f3f5b;
  color: #ffffff;
}

.site-menubar-light .site-menu-item a {
  color: #d2d2e0;
}

.site-navbar .navbar-header .navbar-brand-logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-top: -15px;
}

.panel-default .panel-heading {
  background-color: #1e1e2bff;
  padding: 10px;
  color: #a6a6c1;
}

.navbar-search-overlap {
  top: 0px;
}

a:link {
  text-decoration: none;
}

.site-menu-item a {
  color: #ffffff;
}

.site-menubar.site-menubar-light {
  background: #20202f;
}

.label {
  color: #f0f0f5;
  font-size: 18px !important;
}

.site-menu-icon {
  font-size: 2em;
}

.form-control {
  height: auto;
}

.shrink-form {
  width: 100%;
  margin-top: 0.8rem;
}

.shrink-form .input-group {
  border-radius: 0;
  width: 80%;
}

.shrink-form .form-control {
  border-radius: 0;
  border: 1px solid #e4eaec;
}

.shrink-form .form-control:focus {
  border-color: #62a8ea;
  background-color: #fff;
}

.shrink-form .btn-shrink {
  padding: 6px 16px;
}

.shrink-form-input>.form-control,
.shrink-form-input>.input-group-addon,
.shrink-form-input>.input-group-btn>.btn {
  height: 3rem;
}

.panel {
  background: #1e1e2b;
  border-color: #3f3f5b;
  color: #fff;
}
.site-menu-title {
  font-size: 15px;
  font-weight: 400;
}

.panel > .panel-heading h3 {
  background: #1e1e2b;
  color: #a6a6c1;
  font-size: 15px;
  padding: 15px;
  font-weight: 400;
}
.info-panel .panel-body {
  background: #2a2a3d;
}
.panel-body {
  background: #1e1e2b;
}

.panel-heading+.panel-body {
  padding: 15px;
}

.table {
  color: #d2d2e0;
  background: #2a2b3d;
}
.mix-table {
  background: #1e1f2c;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background: #2a2a3d;
}

.table tfoot th, .table thead th {
  color: #a6a6c1;
}

.table-bordered {
  border: 1px solid #16161f;
}

.table-striped > tbody > tr:hover {
  background: #393952;
}

.table-bordered thead:first-child th {
  border-top: 1px solid #16161f;
  border-bottom: 1px solid #16161f;
}

.table-striped > thead > tr > th, table-bordered > thead > tr > th, table-bordered > tbody > tr > th, .table-bordered > tbody > tr > th, table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > th, table-bordered > thead > tr > td, .table-bordered > thead > tr > td, table-bordered > tbody > tr > td, .table-bordered > tbody > tr > td, table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > td {
  border-top: 1px solid #16161f;
  border-right: 1px solid #16161f;
}


.page-item .page-link {
  border: none;
}

.mix-table-footer {
  float: right;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #16161f;
}

.pagination-gap .page-link:hover {
  color: #d2d2e0;
  background-color: #2a2a3d;
  border-color: #161620;
}

.pagination-gap .page-item.active .page-link {
  color: #d2d2e0;
  background-color: #161620;
  border-color: #161620;
}


.pagination>li>a, .pagination>li>span {
  background-color: #35354c;
}

.page-item.disabled .page-link {
  color: inherit;
  pointer-events: none;
  cursor: auto;
  background-color: #262637;
  border-color: transparent;
}

.site-menubar-light .site-menu>.site-menu-item.hover>a, 
.site-menubar-light .site-menu>.site-menu-item:hover>a {
  background-color: #3f3f5b;
  color: #ffffff;
}

.site-menubar-body .site-menu-item > .nav-link.router-link-exact-active,{
  background-color: #161620;
  color: #d2d2e0;
}

.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px 20px;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 20px;
}
.block-last {
  padding-right: 10px;
}

.block-next { 
  padding-left: 1094px;
}
.table-eye {
  padding-left: 25px;
}

@media (max-width: 767px) {
  .main-nav .navbar-brand {
      width: 100px;
  }
  .page {
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
  }
  .site-menubar {
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
  }
  .site-menubar-open {
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate(0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
  }
  .page-menubar-open {
      -webkit-transform: translate3d(130px, 0, 0);
      -ms-transform: translate(130px, 0);
      transform: translate3d(130px, 0, 0);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
  }
  .site-navbar.navbar-inverse .navbar-container {
    background-color: #20202f;
    height: 0px;
  }
  .site-navbar .navbar-header .navbar-brand {
    margin: 0 -50px;
   }
  .mix-table-footer {
    float: left;
 }
}

.navbar-brand{
  position: relative;
}

.site-navbar .badge-pill.up {
  top: -50px;
  
}
.copyright { 
  padding: 8px 20px;
}